/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Poppins');

@font-face{
    font-family: Noto Serif;
    src: url('https://fonts.googleapis.com/css?family=Noto+Serif');
}

@font-face{
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}

/*HEADER SIDEBAR*/

.header-home{
    font-family: 'Noto Serif', serif;
    font-size: 6vw;
    color: #3F4454;
    font-weight: 700;
    max-width: 100%;
}

.subheader-home{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 2rem;
    color: #3F4454;
    font-weight: 500;
}

.about-home{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #3F4454;
    font-weight: 200;
}

.browse-header{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #3F4454;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

/*MAP*/

#marker{
    width: 10%;
}


#inner-map-container{
    min-height: 99vh;
    max-height: 100vh;
}

#map-container{
    position:fixed;
    max-width: 100vw;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding-right:0;
    top:59px;
    z-index: -1000;
    overflow: hidden;
}

.gmnoprint{
/*    display: none!important;*/
    opacity: 0;
}

.gm-fullscreen-control{
    display: none!important;
}

.infoContent{
    font-family: 'Poppins', sans-serif;
}


/*BUTTONS*/

#explore-btn{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    border-style: none;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 1s ease-out;
    font-size: 2vmin;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
}

#explore-btn:hover{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

#login-modal-btn{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    border-style: none;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 1s ease-out;
    font-size: 8pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
}

#login-modal-btn:hover{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

#signup-modal-btn{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    border-style: none;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 1s ease-out;
    font-size: 8pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
}

#signup-modal-btn:hover{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.acctModal input{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
}

#credit-btn{
    margin-top: 2px;
    margin-bottom: 2px;
    float: right;
    text-align: center;
    background: transparent;
    border-style: none;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 1s ease-out;
    font-size: 2vmin;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
}

#credit-btn:focus{
   border-style: none;
}

#credit-btn:active{
   border-style: none;
}

#new-post-btn{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    border-style: none;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 1s ease-out;
    font-size: 8pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
}

#new-post-btn:hover{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
   

/*NAVBAR*/

#navbar-custom{
    background: linear-gradient(to bottom right, #fbebdf, #f7cfd2);
    max-height: 60px;
}

.navbar .account-btns{
    border-color: white;
    border-width: 2px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 8pt;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

.navbar .account-btns:hover{
    border-color: #EFA0A6;
    border-width: 2px;
    background: white;
    opacity: 0.5;
/*    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);*/
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 8pt;
    color: #EFA0A6;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

.modal-body .account-btns{
    border-color: #EFA0A6;
    border-width: 2px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: #EFA0A6;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

#login-btn{
    margin-right: 5px;

}

#signup-btn{
    margin-left: 5px;
}

.pin-btns{
    margin: 3px;
    border-color: #EFA0A6;
    border-width: 2px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: #EFA0A6;
    text-transform: uppercase;
    letter-spacing: 2px;

}

/*CARDS*/

#hood-name{
    color: #F7F3F0;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    text-align: center;
    font-size: 15pt;
    letter-spacing: 0.3px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 10px;
}

#hood-desc{
    color: #F7F3F0;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    font-weight: 100;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#hood-img{
    padding: 20px;
}

#card-footer{
    background-color: #3F4454;
    border-top-right-radius: 0px;
    border-top-left-radius: 00px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

#card-bg{
    box-shadow: 2px 2px 5px 0px #ccc;
    justify-content: center;
    align-items: center;
    background-color: #F7F3F0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#hood-coords, #weather-info {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    letter-spacing: 2px;
    color: #F7F3F0;
}

#weather-info {
        padding-bottom: 20px;
}

/*MINIMAP*/

#miniMap-desk{
    box-shadow: 2px 2px 5px 0px #ccc;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
    position:absolute;
    right: 40px;
    top:2%; 
    z-index:1000;
    width: 200px;
}

#miniMap-mobile{
    box-shadow: 2px 2px 5px 0px #ccc;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
    position:absolute;
    bottom: 100px;
    right: 40px;
    z-index:1000;
    width: 150px;
}

/*SIDECARD*/

#sideCard-desk{
    position:absolute;
    right: 40px;
    bottom: 5%; 
    z-index: 1000;
    width: 200px;
}

#sideCard-mobile{
    display:none;
}

/*ACCOUNT MODALS*/

.acctModal{
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#modal-header-toggle{
    padding: 25px;
    border-bottom: none;
}

#modal-header-custom{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-bottom: 0px;
    text-align: center;
}

#modal-subheader-custom{
    text-align: center;
    font-size: 10pt;
}

#modal-body-custom{
    background-color: white;
    border-radius: 25px;
}
.modal-content{
    border-style: none!important;
    box-shadow: 2px 2px 5px 0px #999;
}

#Btn{
     border-color: #EFA0A6;
     height: 30%;
}

#Btn:hover{
    border-color: #EFA0A6;
    border-width: 2px;
    background-color: #EFA0A6;
    color: white;
    /*background: linear-gradient(to right, #F7EAE2, #EFC2CA);*/
}

/*MENU*/

.hoodListContainer{
    width: 100%;
}

#toggler{
    border-style: none;
}

#toggler:focus{
    border-style: none;
}

#sidebar-container{
    background-color: white;
    padding: 20px;
}

#menu-outer-container{
    max-width: 100%;
    padding-bottom: -95px;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    z-index: 998!important;
}

.bm-menu-wrap{
    position:absolute!important;
    z-index: 1005!important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 10px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/*LISTS*/


.listItems{
    text-align: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.listNames{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: left;
}

.listItems img{
    float: left;
    margin-left: 10%;
    margin-right: 7%;
}

#findHoodTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 8px;
}

#hoodTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 8px;
}

/*SCROLLBAR*/

.bm-menu::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.bm-menu::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.bm-menu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(239,160,166)),
									   color-stop(0.72, rgb(249,224,207)),
									   color-stop(0.86, rgb(252,203,170)));
}

/*SVG MAP*/

.cls-1{
    fill:white;
    stroke:#fccbaa;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
}

.cls-2{
    fill:#efa0a6;
}

.cls-1:hover{
    fill: #efa0a6;
}


/*FOOTER*/

#footer{
    margin-left:0!important;
    margin-right:0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

#footer-text{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

#footer-container{
    position:fixed;
    width: 100%;
    bottom:0;
    height:30px;
    background: linear-gradient(to right, #F7EAE2, #EFC2CA);
}

.credit-txt-lg{
    font-size: 11pt;
    text-decoration: none;
    color: #3F4454;
    line-height: 18pt;
}

.credit-txt-sm a {
    font-size: 8pt;
    text-decoration: none;
    color: #EFC2CA;
}


#backArrow{
    position: relative;
    top: -15px;
    height: 20px; 
    width: 20px;
}

.post-input{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

#create-post-btn{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    border-style: none;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 1s ease-out;
    font-size: 8pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
}


/*CHECKBOX */

.check-container {
    margin-top: 5px;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 10pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
    background-color: #efa0a6;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}