@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Poppins');

.header-home{
    font-family: 'Noto Serif', serif;
    font-size: 50pt;
    color: #3F4454;
    font-weight: 700;
}

.subheader-home{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 16pt;
    color: #3F4454;
    font-weight: 500;
}

.about-home{
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    color: #3F4454;
    font-weight: 200;
}

#map-container{
    width: 100%;
    padding-left:0;
    padding-right:0;
    margin-left: 0;
    margin-right: 0;
    top:0;
}

#toggler{
    border-style: none;
}

#toggler:focus{
    border-style: none;
}

#sidebar-container{
    background-color: white;
    padding: 20px;
    width: 40%;
}


/*BUTTONS*/

#explore-btn{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    border-style: none;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

#explore-btn:hover{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    opacity: 0.5;
}

#explore-btn a{
    font-size: 10pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#explore-btn a:hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

#navbar-custom{
    background: linear-gradient(to bottom right, #fbebdf, #f7cfd2);
    opacity: 1;
}

.navbar .account-btns{
    border-color: white;
    border-width: 2px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 8pt;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

.navbar .account-btns:hover{
    border-color: #EFA0A6;
    border-width: 2px;
    background: white;
    opacity: 0.5;
/*    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);*/
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 8pt;
    color: #EFA0A6;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

.modal-body .account-btns{
    border-color: #EFA0A6;
    border-width: 2px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: #EFA0A6;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

#login-btn{
    margin-right: 5px;

}

#signup-btn{
    margin-left: 5px;
}

.pin-btns{
    margin: 3px;
    border-color: #EFA0A6;
    border-width: 2px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: #EFA0A6;
    text-transform: uppercase;
    letter-spacing: 2px;

}

/*CARDS*/

#hood-name{
    color: #F7F3F0;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    text-align: center;
    font-size: 15pt;
    letter-spacing: 0.3px;
    padding-left: 20px;
    padding-right: 20px;
}

#hood-desc{
    color: #F7F3F0;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    font-weight: 100;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#hood-img{
    padding: 20px;
}

#card-footer{
    background-color: #3F4454;
    border-top-right-radius: 0px;
    border-top-left-radius: 00px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#card-bg{
    box-shadow: 2px 2px 5px 0px #ccc;
    justify-content: center;
    align-items: center;
    background-color: #F7F3F0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#hood-coords{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    letter-spacing: 2px;
    color: #F7F3F0;
}

/*ACCOUNT MODALS*/

.acctModal{
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    font-family: Poppins, sans-serif;

}

.modalHeader{
    font-family: Poppins, sans-serif;
    background-color: #F9E7DC;
}

.modalBody{
    background-color: #F9E7DC;
}

#Btn{
     border-color: #EFA0A6;
     height: 30%;
}

#Btn:hover{
    border-color: #EFA0A6;
    border-width: 2px;
    background-color: #EFA0A6;
    color: white;
    /*background: linear-gradient(to right, #F7EAE2, #EFC2CA);*/
}


.gmnoprint{
    display: none!important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-menu-wrap{
    position:absolute!important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 10px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



/*LISTS*/

#findHoodTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 8px;
}

#hoodTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 8px;
}
/*

#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(239,160,166)),
									   color-stop(0.72, rgb(249,224,207)),
									   color-stop(0.86, rgb(252,203,170)));
}


*/

.hoodListContainer{
/*    overflow-y: scroll;*/
    max-height: 1500px;
}


.listItems{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.listNames{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    padding-left: 20px;
}

.listItems img{
    float: right;
}

#Killarney{
    background-color: yellow;
}

.cls-1{
    fill:white;
    stroke:#fccbaa;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
}

.cls-1:hover{
    fill: #efa0a6;
}

@font-face{
    font-family: Noto Serif;
    src: url('https://fonts.googleapis.com/css?family=Noto+Serif');
}

@font-face{
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}



