@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Poppins');

/*#full-bg{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
}*/

.header-home{
    font-family: 'Noto Serif', serif;
    font-size: 50pt;
    color: #3F4454;
    font-weight: 700;
}

.subheader-home{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 16pt;
    color: #3F4454;
    font-weight: 500;
}

.about-home{
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    color: #3F4454;
    font-weight: 200;
}

.map-container{
    height: 300px;
}

#toggler{
    border-style: none;
}

#toggler:focus{
    border-style: none;
}

#sign-up-btn{
    background: linear-gradient(to bottom right, #F7EAE2, #EDC5CA);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: none;
    border-radius: 20px;
}

#login-btn{
    border-color: #EFA0A6;
    border-width: 2px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 8pt;
    color: #EFA0A6;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

#hood-name{
    color: #F7F3F0;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    text-align: center;
    font-size: 15pt;
    letter-spacing: 0.3px;
    padding-left: 20px;
    padding-right: 20px;
}

#hood-desc{
    color: #F7F3F0;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    font-weight: 100;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#hood-img{
    padding: 20px;
}

#card-footer{
    background-color: #3F4454;
    border-top-right-radius: 0px;
    border-top-left-radius: 00px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#card-bg{
    box-shadow: 2px 2px 5px 0px #ccc;
    justify-content: center;
    align-items: center;
    background-color: #F7F3F0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#hood-coords{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    letter-spacing: 2px;
    color: #F7F3F0;
}
